:root {

    background: none !important;
    
    --wavefunction-background: #201f21;
    --wavefunction-foreground: #d2dbe3;
    --wavefunction-current-line: #18171b;
    --wavefunction-comment: #767f87;
    --wavefunction-black: #18171b;
    --wavefunction-red: #ff5555;
    --wavefunction-orange: #ffb86c;
    --wavefunction-yellow: #f1fa8c;
    --wavefunction-green: #50fa7b;
    --wavefunction-purple: #bd93f9;
    --wavefunction-cyan: #8be9fd;
    --wavefunction-pink: #ff79c6;
    --wavefunction-bright-cyan: #a4ffff;

    /* Generic */
    --tridactyl-font-family: monospace;
    --tridactyl-font-family-sans: monospace;
    --tridactyl-font-size: 16pt;
    --tridactyl-small-font-size: 12px;
    --tridactyl-bg: var(--wavefunction-background);
    --tridactyl-fg: var(--wavefunction-comment);
    --tridactyl-scrollbar-color: auto;

    /* Mode Indicator */
    --tridactyl-status-font-family: var(--tridactyl-font-family);
    --tridactyl-status-font-size: var(--tridactyl-small-font-size);
    --tridactyl-status-bg: none;
    --tridactyl-status-fg: var(--wavefunction-foreground);
    --tridactyl-status-border: 0;
    --tridactyl-status-border-radius: 6px;

    /* Search highlight */
    --tridactyl-search-highlight-color: var(--wavefunction-foreground);

    /* Hint character tags */
    --tridactyl-hintspan-font-family: var(--tridactyl-font-family);
    --tridactyl-hintspan-font-size: var(--tridactyl-small-font-size);
    --tridactyl-hintspan-font-weight: bold;
    --tridactyl-hintspan-fg: var(--tridactyl-fg);
    --tridactyl-hintspan-bg: var(--wavefunction-foreground);
    --tridactyl-hintspan-border-color: ButtonShadow;
    --tridactyl-hintspan-border-width: 0px;
    --tridactyl-hintspan-border-style: solid;
    --tridactyl-hintspan-js-background: none;

    /* Element highlights */
    --tridactyl-hint-active-fg: var(--tridactyl-fg);
    --tridactyl-hint-active-bg: rgba(76, 86, 106, 1);
    --tridactyl-hint-active-outline: 1px solid var(--wavefunction-foreground);

    --tridactyl-hint-bg: none;
    --tridactyl-hint-outline: 1px solid var(--wavefunction-foreground);

    /* :viewsource */
    --tridactyl-vs-bg: var(--tridactyl-bg);
    --tridactyl-vs-fg: var(--tridactyl-fg);
    --tridactyl-vs-font-family: var(--tridactyl-font-family);

    /*commandline*/

    --tridactyl-cmdl-bg: var(--tridactyl-bg);
    --tridactyl-cmdl-fg: var(--tridactyl-fg);
    --tridactyl-cmdl-line-height: 1.5;
    --tridactyl-cmdl-font-family: monospace;
    --tridactyl-cmdl-font-size: 9pt;

    /*completions*/

    --tridactyl-cmplt-option-height: 1.4em;
    --tridactyl-cmplt-fg: var(--tridactyl-fg);
    --tridactyl-cmplt-bg: var(--tridactyl-bg);
    --tridactyl-cmplt-font-size: 10pt;
    --tridactyl-cmplt-font-family: monospace;
    --tridactyl-cmplt-border-top: 1px solid var(--wavefunction-black);

    /*sectionHeader*/

    --tridactyl-header-first-bg: var(--wavefunction-black);
    --tridactyl-header-second-bg: var(--wavefunction-black);
    --tridactyl-header-third-bg: var(--wavefunction-black);
    :root .sectionHeader { background: var(--wavefunction-black); }


    --tridactyl-header-font-size: inherit;
    --tridactyl-header-font-weight: bold;
    --tridactyl-header-border-bottom: 1px solid bottom;

    /*url style*/

    --tridactyl-url-text-decoration: none;
    --tridactyl-url-fg: var(--wavefunction-foreground);
    --tridactyl-url-bg: var(--tridactyl-bg);
    --tridactyl-url-cursor: pointer;

    /*option focused*/

    --tridactyl-of-fg: var(--wavefunction-foreground);
    --tridactyl-of-bg: var(--wavefunction-current-line);

    /*new tab spoiler box*/
    --tridactyl-highlight-box-bg: #434c5e;
    --tridactyl-highlight-box-fg: var(--tridactyl-fg);

    --tridactyl-private-window-icon-url: url("chrome://browser/skin/privatebrowsing/private-browsing.svg");

    --tridactyl-container-fingerprint-url: url("resource://usercontext-content/fingerprint.svg");
    --tridactyl-container-briefcase-url: url("resource://usercontext-content/briefcase.svg");
    --tridactyl-container-dollar-url: url("resource://usercontext-content/dollar.svg");
    --tridactyl-container-cart-url: url("resource://usercontext-content/cart.svg");
    --tridactyl-container-circle-url: url("resource://usercontext-content/circle.svg");
    --tridactyl-container-gift-url: url("resource://usercontext-content/gift.svg");
    --tridactyl-container-vacation-url: url("resource://usercontext-content/vacation.svg");
    --tridactyl-container-food-url: url("resource://usercontext-content/food.svg");
    --tridactyl-container-fruit-url: url("resource://usercontext-content/fruit.svg");
    --tridactyl-container-pet-url: url("resource://usercontext-content/pet.svg");
    --tridactyl-container-tree-url: url("resource://usercontext-content/tree.svg");
    --tridactyl-container-chill-url: url("resource://usercontext-content/chill.svg");

    --tridactyl-container-color-blue: #37adff;
    --tridactyl-container-color-turquoise: #00c79a;
    --tridactyl-container-color-green: #51cd00;
    --tridactyl-container-color-yellow: #ffcb00;
    --tridactyl-container-color-orange: #ff9f00;
    --tridactyl-container-color-red: #ff613d;
    --tridactyl-container-color-pink: #ff4bda;
    --tridactyl-container-color-purple: #af51f5;

    --tridactyl-externaledit-bg: var(--tridactyl-logo) no-repeat center;

    /*
    # Private Windows

    Mode Indicator: This has a white background by default, which didn't work so
    well with the foreground color (#f8f8f2).

    Icon Color: The default black SVG icon color doesn't contrast enough with the background color.
    */

    .TridactylPrivate {
      background: none !important;
    }

    .TridactylOwnNamespace .option.incognito .privatewindow {
      fill: var(--wavefunction-comment) !important;
    }

    /*
    # Tridactyl New Tab Page

    Remove the red and green backgrounds from the changelog button/toggle.

    > According to ScreenRant, Craven landed on the color scheme after reading in a
    > scientific article that humans have an especially hard time processing the
    > colors red and green together. As Live Science explains, red light causes
    > retinal cells called opponent neurons to fire—thus alerting our brain that
    > we’re seeing red—while green light doesn’t cause them to do anything (a lack
    > of motion that our brain knows to perceive as green). Since these actions
    > cancel each other out, seeing certain shades of red and green simultaneously
    > can be a little optically confusing (Gutoskey).

    ---
    Gutoskey, Ellen. “The Smart—and Scientific—Reason Freddy Krueger’s
      Sweater Is Red and Green-Striped.” Mental Floss, 27 October 2020,
      https://www.mentalfloss.com/article/633068/why-freddy-krueger-wears-red-and-green.
    */

    #trinewtab #nagbar-changelog {
      background: var(--wavefunction-current-line) !important;
      color: var(--wavefunction-pink) !important;
    }

    #trinewtab input[id^="spoiler"] + label {
      background: var(--wavefunction-comment) !important;
      color: var(--wavefunction-foreground) !important;
    }

    /*
    # Tridactyl Help Page

    Use the color theme on the `:help` page.
    */

    .TridactylOwnNamespace .tsd-flag {
      background-color: var(--wavefunction-current-line) !important;
      color: var(--wavefunction-foreground) !important;
    }

    .TridactylOwnNamespace .tsd-panel,
    .TridactylOwnNamespace .tsd-signature,
    .TridactylOwnNamespace .tsd-index-panel h3 {
      border-width: 1px !important;
      border-color: var(--wavefunction-current-line) !important;
    }

    .TridactylOwnNamespace .tsd-signature-symbol,
    .TridactylOwnNamespace .tsd-sources {
      color: var(--wavefunction-current-line) !important;
    }

    .TridactylOwnNamespace .hljs-keyword {
      color: var(--wavefunction-purple) !important;
    }

    .TridactylOwnNamespace .hljs-string {
      color: var(--wavefunction-yellow) !important;
    }

    .TridactylOwnNamespace .hljs-title,
    .TridactylOwnNamespace .hljs-comment {
      color: var(--wavefunction-foreground) !important;
    }
}
